@font-face {
  font-family: "Boots and Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("TrueType");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: "Boots and Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

img {
  max-width: 100%;
}

.product-list h2 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

header,
footer {
  color: #ffffffff;
  background-color: #202020;
}

/* Links */
a {
  text-decoration: none;
}

header a {
  color: #ffffffff;
  padding: 10px;
}

.active-page {
  text-decoration: underline;
}

.cta {
  display: inline-block;
  color: #ffffffff;
  background-color: #bb0000;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 80px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2 / 4;
  min-width: 51.2px;
  text-align: center;
}

.cta-sale {
  background-color: #127300;
}

.reviews {
  background-color: #e8e8e8;
}

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products img {
  grid-column: -1 / 1;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

.products--sale {
  display: flex;
}

.old-price {
  text-decoration: line-through;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Home Page */
.welcome {
  background-image: url("../images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  height: 70vh;
  position: relative;
}

.welcome_content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.selling-points {
  margin: 50px auto;
}

.selling-points,
.reviews_content {
  max-width: 1000px;
  display: flex;
}

.selling-points > *,
.reviews_content > * {
  flex: 1;
}

.selling-points_images {
  border-radius: 50px;
}

.reviews {
  text-align: center;
  padding: 50px;
}

.reviews_content div {
  margin: 50px;
}

.reviews_content {
  text-align: left;
  margin: auto;
}

.reviews_name {
  display: block;
}

.reviews_images {
  border-radius: 50%;
  width: 80px;
  float: right;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
}

.featured h2 {
  grid-column: -1 / 1;
}

/* Contact page */
input,
select,
textarea {
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Product Specific Page */

.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific_details {
  padding: 0px 30px;
}

.product-specific_details a {
  display: block;
  width: 95.767px;
  margin: auto;
}

.product-specific_price {
  font-size: 1.5em;
}

.product-image_thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

/* Guitar page */

.guitars {
  max-width: 1000px;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
